<h1>Upload the povray scene file</h1>

<form action='/' method='POST' enctype='multipart/form-data'>	
	<label for='name'>Give a name to this project</label>
	<input type='text' id='name' name='name'/>
	<br/>                                     
	<label for='scene'>Scene file</label>
	<input type='file' id='scene' name='scene'/>
	<input type="submit" />	
</form>