<h1>Status of projects</h1>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Projects</th>
		<th>Images</th>
	</th>
	<% for project in @projects %>	
	<tr>                                                        		
		<td class='class'><%= project.name %></td>
		<% if project.image.nil? %>
			<td class='args'> In progress </td>
		<% else %>
			<td> <a href='/download/<%= project.id %>'>Download Image</a> </td>
		<% end %>
	</tr>   
	<% end %>
</table>    
